/* filepath: /c:/Users/bw141/Desktop/System zarządania/klient/src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit',
}

@layer base{
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar {
  display: none;
}



.rich-text {font-size: 15px; color: #7a7b7d;}

.rich-text p {margin-bottom: 15px;}

.rich-text h1 {font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0;}

.rich-text h2 {font-size: 36px; font-weight: 800; color: #252525; margin: 32px 0;}

.rich-text h3 {font-size: 36px; font-weight: 800; color: #333333; margin: 32px 0;}

.rich-text h4 {font-size: 36px; font-weight: 800; color: #444444; margin: 32px 0;}

.rich-text h5 {font-size: 36px; font-weight: 800; color: #555555; margin: 32px 0;}

.rich-text h6 {font-size: 36px; font-weight: 800; color: #666666; margin: 32px 0;}